/* Image size */
.my-picture {
  width: 100%;
  height: 180px;
  border-radius: 5px;
}

img {
  width: 100%;
  border-radius: 5px;
}
/* End of image styles */

main div {
  margin-top: 2%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main div p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.github {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}