/* Variables */
:root {
  --color-1: #082040;
  --color-2: #30698C;
  --color-3: #468BA6;
  --color-4: #8FCBD9;
  --color-5: #DCEEF2;
  --color-6: #FFFFFF;
  --color-7: #000000;
}
/* End of variables */

/* Styles of nav */
nav {
  background-color: var(--color-1);
}

.navbar {
  padding: 1em;
}

a {
  color: var(--color-6);
}

a:hover {
  color: var(--color-3);
}

.fa-bars {
  color: var(--color-6);
}
/* End of nav styles */

/* Styles of main */
main {
  background-color: var(--color-5);
}
/* End of main styles */

/* Styles of footer */
footer {
  background-color: var(--color-1);
  color: var(--color-6);
  padding: 1em;
  text-align: center;
}

footer small:hover {
  color: var(--color-4);
}

footer i {
  color: var(--color-6);
  font-size: 15px;
  margin: 5px;
}

footer i:hover {
  color: var(--color-4);
}
/* End of footer styles */